{
    "folder_id":                "xxxxxxxxxxxxxxxxxxxx",
    "subnet_id":                "xxxxxxxxxxxxxxxxxxxx",
    "zone":                     "ru-central1-a",
    "platform_id":              "standard-v1",
    "source_image_family":      "ubuntu-1604-lts",
    "ssh_username":             "ubuntu",
    "env":                      "dev",
    "image_family":             "reddit-base-db"
}
